
table{
    width: 80%;
    padding: 0px;
    border: 2px solid black;
    
    height: 200px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

}
th,td{
    width: 300px;
    max-height: 50px;
    text-align: center;
    border: dashed;
}
.per{
    width: 200px;
    background-color: rgb(192, 188, 188);
}
.per:hover{
    background-color: rgb(192, 188, 188);
}
.table-holder{
    max-height: 400px;
    display: block;
}
td>h2{
    margin: 0px;
    font-size: 1rem;
}
td:hover{
    background-color: whitesmoke;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title>h1{
    font-size: 1.5rem;
    margin-bottom: 2px;
}
span{
    font-weight: bold;
    text-align: center;
}
.bottom{
    display: flex;
    align-items: start;
    width: 80%;
    justify-content: space-around;
    padding: 0px;
    border-bottom: 1px solid black;
    border-left: 2px solid black;
   margin-left: auto;
   margin-right: auto;
    
}
.bottom>div{
    
}
.bottom>div>p{
    font-weight: bold;
    margin: 0px;
}
.first-holder{
    border-bottom: 2px solid black;
    margin-left: auto;
    width: 80%;
    margin-right: auto;
    margin-top: 2px;
}
.header{
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.main{
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: center;
}
.brand{
    display: flex;
   
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.brand>*{
    margin-left: 10px;
}
.brand>img{
    border-radius: 50%;
    width: 40px;
}
.bellow{
    background-color: rgb(192, 188, 188);
    display: flex;
    align-items: center;
    justify-content: start;
    width: 95%;
    padding: 0px;
    max-height: 40px;
    margin-left: 10px;
    margin-right: auto;

}
.bellow>div>p{
    font-size: medium;
    margin:0px;
}
.revised{
    background-color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    border: 2px solid black;
}
.revised>h2{
    margin: 0px;
}
.txt{
    margin-left: auto;
    margin-right: auto;
}
form{
    border: 1px solid black;
    width: max-content;
    padding: 10px;
    display: block;
    text-align: center;
    position: fixed;
    top: 140px;
    left: 50%;
    right: 50%;
    background-color: bisque;

}
form>div{
    margin: 20px;
}
form>input[type="submit"]{
     background-color: rgb(230, 0, 0);
     font-weight: bold;
     color: whitesmoke;
     border: 1px solid black;
     width: 100px;
     
}

.body{
    background-color: rgb(192, 188, 188);;
}
.invisible{
    display: none;
}
@media screen and (max-width: 767px) {
   
    form{
        position: fixed;
        left: 20%;
        width: min-content;
    }
   form>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   select{
    width: 100%;
   }
   .header{
    width: 100%;
   }
   .brand>h1{
    font-size: 1.2rem;
   }
   .brand>p{
    font-size: smaller;
   }
   .bellow>div>p{
    font-size: xx-small;
    margin:0px;
}
.revised{
    height: max-content;
    width: max-content;
    padding: 2px 5px 0px 5px;
}
.revised>h2{
    font-size: smaller;

}
.title>h1{
    font-size: 1rem;
}
.bottom>div>p{
    font-size: xx-small;
}
td,th{
    font-size: xx-small;
    column-span: 5;
}
table{
    width: 100%;
}
.bottom{
    margin: 0;
    width: 100%;
    padding: 5px;
}
.first-holder{
    width: 100%;
}
}